.THIS {
    height: 100vh;
    background-size: cover;
    opacity: 1.0;
}
.THIS .loginLinks{
    font-size: medium;
    background : #8db1ce;
    padding: 25px 80px;
}
.THIS .loginLinks img{
    width: 150px;
    padding-left: 10px;
}
.THIS .slds-input{
    padding: 4px 8px;
}
.THIS .slds-select_container .slds-select{
    height:40px;
}
.THIS .displayErrorSection{
    padding-left: 40%;
    padding-top: 12px;
    color:red;
}
.THIS .heading{
    margin-top: 74px;
    font-size:36px;
    font-weight: 700;
    color: #2b4a6d;
}
.THIS .sub-heading{
    margin-top: 24px;
    font-size:30px;
    font-weight: 600;

}
.THIS .phome-font{
    font-weight: 600;
    font-size: 21px;
    padding: 10px 0px;
}
.THIS .tableClass{
    width: 35%;
    margin-top: 74px;
    margin-left: 150px;
    /* border-radius: 8px; */
    opacity:0.9
}
.THIS .body {
    background: #eee;
    -webkit-font-smoothing: antialiased;
}

.THIS .slds-table {
box-shadow: 5px 5px 5px 5px !important;
}
.THIS .hgroup { 
    text-align:center;
    margin-top: 4em;
}

.THIS .span {
    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
}

/*------------------------------------------------------------------
[ Login Form ]*/

.THIS .log-form {
    width: 500px;
    margin: 10em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.THIS .group { 
    position: relative; 
    margin-bottom: 45px; 
}

.THIS .log-input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.THIS .log-input:focus { outline: none; }

.THIS .log-form a {
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 24px;
    text-transform: uppercase;
    color: #aaaaaa;
}

.THIS .left-align {
    float: left;
    text-align: left;
}

.THIS .right-align {
    float: right;
    text-align: right;
}


/*------------------------------------------------------------------
[ Button same code as contact form ]*/

.THIS .container-log-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.THIS .log-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 50px;
    background-color: transparent;
    border-radius:7px;
    cursor: pointer;
    
    font-size: 16px;
    color: #f05450 !important;;
    line-height: 1.2;
    text-transform: uppercase;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.THIS .log-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 7px;
    background-color: #9e8c7b;
    pointer-events: none;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.THIS .log-form-btn:hover:before {
    background-color: #916439;
}

.THIS.imgCls{
    position: absolute;
    margin-top: 0px;
    background-size: cover;
    width: 1350px;
}
.THIS.tabImgCls{
    background-color: #d6e5f3!important;
}
.THIS .main-bg{
    background-color: #d6e5f3!important;
}
.THIS .form{
    padding: 0 80px;
}
.THIS .form-box{
    border: 1px solid rgb(225, 225, 228);
    padding: 24px 20px;
    background: #f3f3f4;
    border-radius: 8px;
}
.THIS .custom-btn{
    width:70%;
}
.THIS .custom-btn-2{
    width: 30%;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
}
.THIS .custom-btn .slds-button{
    display: block;
    width: 100%;
    background: #2b4a6d;
    color: #fff;
    text-transform: uppercase;
    padding: 4px 0px;
    margin: 15px 0px 14px 0px;
}
.THIS .custom-btn-2 .slds-button{
    display: block;
    width: 100%;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-transform: uppercase;
    padding: 4px 0px;
    margin: 15px 0px 14px 0px;
}
@media only screen and (max-width:480px){
    .THIS .form{
    padding: 0 10px;
}
    .THIS .loginLinks{
        padding:10px 10px;
    }
    .THIS .tableClass{
        margin-left: 0px !important;
        margin-top: 20px !important; 
    }
    .THIS .slds-table{
        box-shadow:none !important;
    }
    .THIS .heading{
        margin-top: 15px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .THIS .sub-heading{
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px !important;
    }
    .THIS .phome-font{
        font-size: 16px !important;
    }
    .THIS.tabImgCls{
        background:none !important;
        background: #d6e5f3 !important;
        padding: 0px;
    }
    .THIS .form-custom-design{
        padding:0px 30px !important;
    }
    .THIS .custom-btn .slds-button{
        width: 100%;
    }
    .THIS .cCmpRegistrationForm .custom-btn-2{
        width: 100%;
    }
}