<template>
		<lightning-card>
            <div class="slds-text-heading_medium"><b>Visit Types</b></div>
        <div class="slds-m-around_medium">
            <div class="slds-p-bottom_large slds-grid slds-wrap slds-grid–pull-padded">
                <div class="slds-col–padded slds-size–1-of-1 slds-large-size–1-of-3">
                    <div class="slds-grid slds-wrap slds-grid–pull-padded">
                        <div class="slds-col–padded slds-size–1-of-1 slds-medium-size–1-of-6 slds-large-size–6-of-12">
                            <lightning-icon icon-name="action:new" alternative-text="Click to Call" size="small" title="large size" onclick={addRow}>
                            </lightning-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
            <thead>
                <tr class="slds-text-title_caps">
					<th scope="col">
                        <div class="slds-truncate" title="Visit Type">Visit Type</div>
                    </th>
                    <template if:true={displayVisitTypeColumn}>
                        <th scope="col">
                            <div class="slds-truncate" title="Specialty"></div>
                        </th>
                    </template>
					<th scope="col">
                        <div class="slds-truncate" title="Existing Patient Fee">Existing Patient Fee</div>
                    </th>
					<th scope="col">
                        <div class="slds-truncate" title="New Patient Fee">New Patient Fee</div>
                    </th>
					<th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
				<template for:each={serviceRecList} for:item="rec" for:index="index">
                    <tr key={keyIndex}>
                        <td>
                            <lightning-combobox name='visitTypeName' data-name='visitTypeName' access-key={index} id={index} value={rec.VisitTypeName} 
                            options={visitOptions} onchange={changeHandler} message-when-value-missing="Choose one option"></lightning-combobox>
                        </td>
                        <template if:true={displayVisitTypeColumn}>
                            <td>
                                <template if:true={rec.displayVisitTypeNameField}>
                                    <lightning-input type="text" name='visitType' data-name='visitType' access-key={index} id={index} value={rec.VisitType} required=true onchange={changeHandler}></lightning-input>
                                </template>
                            </td>
                        </template>
						<td>
                            <lightning-input type='number' formatter='currency' name='existingPatient' access-key={index} id={index}  onchange={changeHandler}  value={rec.ExistingPatient}>
                            </lightning-input>
                        </td>
						<td>
                            <lightning-input type='number' formatter='currency' name='newPatient' access-key={index} id={index}  onchange={changeHandler}  value={rec.NewPatient}>
                            </lightning-input>
                        </td>
                        <td>
                            <lightning-icon icon-name="action:delete"  data-service={rec.ServiceId} access-key={index} id={index} alternative-text="Click to Call" size="x-small" title="large size" onclick={removeRow}>
                            </lightning-icon>    
                        </td>
                    </tr>
                </template>
            </tbody>
        </table> 
        <div class="slds-align_absolute-center slds-p-top_small">
        	 <lightning-button
                label="Save"
                slot="actions"
                variant="brand"
                onclick={saveMultipleRecords}
                ></lightning-button>             
        </div>
				
    </lightning-card>
</template>