.THIS{
    background: #d6e5f3!important;
}
.THIS .custom-bg{
    background: #d6e5f3!important;
}
.THIS .slds-button_text-destructive:hover {
    background-color: rgb(0 35 75);;
}
.THIS .slds-truncate{
    font-size: 15px;
    font-weight: 600;
}
.THIS .cardClass:hover .viewProfile {
    opacity: 1;
}
.THIS .img-responsive{
    width:100% !important;
    height:300px !important;
    position:relative !important;
    overflow:hidden !important;
}
.THIS .slds-form-element__help {
    color: white !important;
}
.THIS .list-icon{
    padding: 15px 10px;
}

.THIS .box .slds-button {
    background-color: rgb(0 35 75);
    color: #fff;
    display: block;
    width: 100%;
    padding: 5px 0;
    height: 70px;
}
.THIS .tableData {
    border: 1px solid black !important;
    text-align: center !important;
    width: 200px !important;
    height: 150px !important;
}

.THIS .searchBox {
    background-color: #fff;
    opacity: .8;
    margin-top: 30px;
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}
.THIS .slds-grid{
    padding: 10px 50px;  
}
.THIS .desriptionText {
    font-size: 15px;
    color: rgb(0, 35, 75);
}
.THIS .box {
    /* border: 1px solid; */
    border-color: white;
    display: flex;
}
.THIS .slds-select{
    background: none;
    color: #000;
}
.THIS .slds-input {
   background: none;
    color: #000;
}
.THIS .slds-form-element{
    width: 100% !important;
}

.THIS .slds-input-has-icon .slds-input__icon {
    color: white;
}

.THIS .cardClass {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.THIS .appointmentClas {
    background-color: white;
    position: absolute;
    border: 1px solid;
    bottom: -20px;
    border-radius: 30px 30px 30px 30px;
    left: 21%;
    border-color: rgb(0, 35, 75);
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            rgb(0, 35, 75) 50%,
            rgb(0, 35, 75));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.THIS .appointmentClas:hover {
    background-position: 0 0;
    color: white;
}

.THIS .slds-form-element__label {
    color: #000 !important;
}

.THIS .viewProfile {
    position: absolute;
    bottom:0;
    right: 0;
    opacity: 0;
    background: rgb(0, 35, 75);
    color: #fff;
    width: 100%;
    transition: .5s ease;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    text-align: center;
}

.THIS .viewProfile:hover {
    opacity: 1;
}

.THIS .cardClass:hover+viewProfile {
    opacity: 1;
}

.THIS.imgCls {
    position: absolute;
    margin-top: 0px;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
@media screen and (max-width:468px){
    .THIS .searchBox{   
        margin: 0px !important;
        width: 100% !important;
    }
    .THIS .searchBox .slds-col{
        padding: 8px 12px 8px 8px;
}
.THIS .site-identity img{    
    width: 110px;}
}
@media all and (max-width: 780px) {
    .THIS .search_component{
        padding:10px;
    }
    .THIS .slds-grid{
        padding:10px 10px !important;
    }
    .THIS p.newClass { 
        font-size: 16px!important;
    }
    .THIS .custom-button-phone{
        margin-left: 0px !important;
        width:100% !important;
    }
    .THIS .no-flex-phone{
        display:block !important;
    }
    .THIS .viewProfile{
        bottom: 0 !important;
    }
    .THIS .img-responsive{
        width:100% !important;
        height:300px !important;
        position:relative !important;
        overflow:hidden !important;
    }
 .THIS .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        text-shadow: 0px 1px 0 #a2a2a2;
      }
      .THIS .star-ratings-css-top {
        color: #e7711b;
        padding: 0;
        position: absolute;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;
      }
    .THIS .star-ratings-css-bottom{
            padding: 0;
            display: block;
            z-index: 0;
    }
    .THIS .body{
        overflow-x:hidden !important;
    }
    .THIS .cFindADoctorComponent{
        overflow-x:hidden !important;
    }
    .THIS .searchBox{
        margin: 10px;
        padding: 5px 2px !important;
    }
    .THIS .box{
        border: none !important;
    }
    .THIS .viewProfile{
        opacity:1 !important;
    }
}