.THIS .formattedTextClass{
    margin-top:auto;
}
.THIS .hours{
    width: auto;
    margin-left:5px;
    width: 200px;
}
.THIS .slds-checkbox_on{
    display:none !important;
}
.THIS .slds-checkbox_off{
    display:none !important;
}