.THIS {
  height: 100vh;
  background-size: cover;
  opacity: 0.8;
}
.THIS .loginLinks{
  font-size: medium;
  background : #8db1ce;
  padding: 25px 80px;
}
.THIS .loginLinks img{
  width: 150px;
  padding-left: 10px;
}
.THIS .body {
  background: #eee;
  -webkit-font-smoothing: antialiased;
}
.THIS .slds-input {
  padding: 4px 8px;
}
.THIS .hgroup { 
  text-align:center;
  margin-top: 4em;
}

.THIS .span {
  font-size: 0.95em;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 24px;
  text-transform: uppercase;
}

/*------------------------------------------------------------------
[ Login Form ]*/

.THIS .log-form {
  width: 500px;
  margin: 10em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  opacity:1.0;
  border-radius: 8px;
}
.THIS .login-error{
  text-align: center;
  color: red;
  font-size: 16px
}

.THIS .group { 
  position: relative; 
  margin-bottom: 25px; 
}
.THIS .slds-form-element__label{
  font-size: 16px !important;
  font-weight: 600 !important;
}

.THIS .log-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
}

.THIS .log-input:focus { outline: none; }

.THIS .log-form a {
  margin-top:15px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 24px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.THIS .left-align {
  float: left;
  text-align: left;
}

.THIS .right-align {
  float: right;
  text-align: right;
}


/*------------------------------------------------------------------
[ Button same code as contact form ]*/

.THIS .container-log-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.THIS .log-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 50px;
  background-color: transparent;
  border-radius:7px;
  cursor: pointer;
  
  font-size: 16px;
  color: #f05450 !important;;
  line-height: 1.2;
  text-transform: uppercase;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.THIS .log-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 7px;
  background-color: #9e8c7b;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.THIS .log-form-btn:hover:before {
  background-color: #916439;
}

.THIS.imgCls{
  position: absolute;
  margin-top: 0px;
  background-size: cover;
  width: 100%;
  padding:0px 10px !important; 
  background: #d6e5f3 !important;
}
.THIS.tabImgCls{
  height:850px;
  margin-top: 60px;
}
.THIS .success-msg{
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.THIS .slds-button{
  /* display: block; */
  width: 90%;
  font-size: initial;
  margin-left: 14px;
}
.THIS .custom-button-sam{
  background-color: rgb(0, 35, 75);
  color: rgb(255, 255, 255);
  border: none !important;        
  padding: 4px 0px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.THIS .custom-button-sam:hover{
  background-color: rgb(0, 35, 75);
}
.THIS .button-rule{
  padding: 4px 0px;
  text-transform: uppercase;
  margin-left: 0px !important;
}
.THIS .log-form{
  margin: 10em auto !important;
}
@media only screen and (max-width:480px){
  .THIS .slds-button{
      margin-left: 0px !important;
  }
  .THIS .log-form{
      width:100% !important;
      box-shadow:none !important;
      margin:6em auto !important;
  }
  .THIS .custom-mobile{
      display:block !important;
      margin-left: 0px !important;
  }
  .THIS.imgCls{
      background:none !important;
      background: #d6e5f3 !important;
  }
  .THIS .custom-button-mobile{
      width:100% !important;
  }
  .THIS .cPatientLoginComponent{
      padding: 2px 20px !important;
  }
}