.THIS .loginLinks{
    font-size: medium;
    background : #8db1ce;
}
.THIS .app-btn{
    width : 200px;
}
.THIS .flex {
    display: flex;
    align-items: center;
    justify-content: center;
   }
.THIS .loginLinks img{
    width: 150px;
    padding-left:10px;
}
.THIS .slds-button{
    background: #8db1ce;
    border: 0px !important;
}
.THIS .headingText{
    font-size:40px; 
    font-weight:600;
}
.THIS .subheadingText{
    font-size:30px; 
    font-weight:600;
}
.THIS .searchBox{
    background-color: #fff;
    opacity: 0.8;
    margin-top: 30px;
    /* padding: 10px 15px; */
    border-radius: 7px;
}
.THIS .searchHeader{
    height: 100%;
    width: 100%;
    align-items: center;
   /* justify-content: center; */
        position: relative;
    padding:90px 80px;
   /* margin-top: 10%;*/
  /*  margin-left: 10%*/
}
.THIS .box{
    /* border:1px solid;
    border-color:white; */
    display:flex;
}
.THIS .slds-input{
    /* background-color: #326e9a; */
    color:#000;
    border: none !important;
}
.THIS .doctor-icon{
    background: none !important;
    fill: #000 !important;
}
.THIS .slds-select{
    color:#000;
    border: none;
}
.THIS ::placeholder {
    color:#000;
}
.THIS .slds-input-has-icon .slds-input__icon {
    color:white;  
}
.THIS .slds-form-element__label {
    color:rgb(165,165,173) !important;
}
.THIS .containerDiv{
    /* background-image: url('/DocIn/resource/1620726687000/Homepage_Background1') !important;  */
    background: #d6e5f3 !important;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 2px;
}
.THIS .px-3{
    padding: 0px 15px;
}
.THIS .slds-button{
    color:rgb(0,35,75);
    padding: 0px 15px;
}
.THIS .slds-m-bottom_x-large{
    padding: 25px 80px;
}
.THIS .list-icon{
    padding: 27px 10px;
}
.THIS .box .slds-button{
    background-color: rgb(0 35 75);
    color: #fff;
    display: block;
    width: 100%;
    padding: 5px 0;
    /* position: absolute; */
    height: 69px;
}
@media only screen and (max-width:480px){
    .THIS .slds-p-horizontal--medium{
        padding: 5px 0px !important;
    }
    .THIS .slds-dropdown {
        margin-left:-90px !important;
    }
    .THIS .slds-m-bottom_x-large {
        padding:7px 0px !important;
    }
    .THIS .cCenterPanel {
        margin: 0px !important;
        padding: 0px !important;
    }
    .THIS .containerDiv{
        background:none !important;
        background:#D6E5F3 !important;
    }
    .THIS .searchHeader {
        margin-top: 40px !important;   
        margin-left:0px !important;
        width:100% !important;
        padding: 0px 10px !important;
    }
    .THIS .subheadingText{
        font-size: 14px;
        padding: 12px 0px;
    }
    .THIS .headingText{
        justify-content:left !important;
        font-size: 30px;
    }
    .THIS .slds-mobile-size{
        width:100% !important;
    }
    .THIS .custom-mobile-button{
        width: 80%;
        margin: 12px auto !important;
        display: block;
        color: #fff;
    }
    .THIS .slds-button_neutral{
        color: rgb(0,35,75) !important;
        padding: 0 15px !important;
        height: 67px !important;
    }
    .THIS .cus-btn{
        margin-top:20px;
    }
    .THIS .box{
        border:none !important;
    }
    .THIS .box .slds-button{
        background-color: rgb(0 35 75);
        color: #fff;
        display: block;
        width: 100%;
        padding: 5px 0px;
    }
    .THIS .px-3{
        padding-left: 0px !important;
    }
    .THIS .searchBox{
        margin-left: 2px !important;
        margin-right: 2px !important;
        border-radius: 4px !important;
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .THIS .searchHeader {
        margin-top: 100px !important;   
        margin-left:100px !important;
    }
    .THIS .box{
        padding:20px 0px !important;
    }
}