.THIS .slds-show{
    background: #d6e5f3!important;
}
.THIS .appmnts{
    padding: 0 10px;
}
.THIS .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    padding-bottom: 40px;
}
.THIS .star-ratings-css-top {
    color: rgb(0 35 75);
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.THIS .star-ratings-css-bottom{
    padding: 0;
    display: block;
    z-index: 0;
}