.THIS .slds-page-header1{
    padding-right: 50px;
    padding-left: 50px;
    height:4rem;
    padding-bottom: 66px;
    padding-top: 25px;
    background: rgba(23,94,144,0.38 )!important;
}
.THIS .button-header{
    padding: 5px 10px;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
.THIS .site-header::after {
    content: "";
    display: table;
    clear: both;
}

.THIS .site-identity {
    float: left;
}

.THIS .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
}

.THIS .site-identity img {
    float: left;
    width: 150px !important;
}

.THIS .site-navigation {
    float: right;
}

.THIS .site-navigation ul li {
    margin: 0;
    padding: 0;
}

.THIS .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}
@media only screen and ( max-width:468px ){
    .THIS .slds-float_right{
        padding: 12px !important;
    }
    .THIS .site-identity img{
        width: 110px !important;
        padding-top: 17px;
    padding-left: 10px;
    }
    .THIS .slds-page-header1{
        padding:0px !important;
    }

}