.THIS .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }
  .THIS .skipButton{
    transition: transform .1s; /* Animation */
    color: #4197b4;
    font-weight: 700;
  }
  .THIS .skipButton:hover{
    transform: scale(1.5); /* Animation */
  }
  .THIS .cardBox {
    width: 400px;
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #f8f8f8;
    box-shadow: 0px 1px 5px grey;
}
.THIS .slds-button_brand{
  padding: 8px 15px;
  background-color: rgb(0 35 75);
}
  .THIS .background::after {
    content: '';
    background: #d6e5f3;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  @media (min-width: 900px) {
    .THIS .background {
      padding: 0 0 25px;
    }
  }
  
  .THIS .container {
    margin: 0 auto;
    padding: 0 0 0;
    max-width: 960px;
    width: 100%;
  }
  
  .THIS .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .THIS .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .THIS .pricing-table {
      flex-direction: row;
    }
  }
  
  .THIS .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .THIS .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .THIS .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .THIS .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .THIS .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .THIS .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .THIS .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 32px;
  }
  
  .THIS .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .THIS .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .THIS .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .THIS .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .THIS .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .THIS .pricing-button:hover,
  .THIS .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .THIS .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .THIS .pricing-button.is-featured:hover,
  .THIS .pricing-button.is-featured:active {
    background-color: #269aff;
  }
  .THIS .site-identity img {
    max-width: 100%;
    float: left;
    margin-top: -10px;
}
.THIS .headingText{
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  position: relative;
  z-index: 99;
}
@media only screen and (max-width:468px){
  .THIS .slds-modal__content{
    overflow:scroll !important;
  }
}