.THIS .body{
    background : #d6e5f3 !important;
}
.THIS {
    background : #d6e5f3 !important;
}
.THIS .formClass{
    position: absolute;
    border: 1px solid rgb(225, 225, 228);
    padding: 24px 20px;
    background: #f3f3f4;
    border-radius: 8px;
}
.THIS .bg-custom{
    background: #d6e5f3;
    padding: 0 80px;
}
.THIS .loginLinks{
    font-size: medium;
    background : #8db1ce;
    padding: 25px 80px;
}
.THIS .loginLinks img{
    width: 150px;
    padding-left: 10px;
}
.THIS .headingContainer{
    top: 200px;
}
.THIS .headingText{
    margin-left: 380px;
    font-size: 72px;
    font-weight: 700;
}
.THIS .subheadingText{
    font-size: 27px;
    margin-left: 25px;
    font-weight: 600;
}
.THIS .slds-required{
    display:none;
}
.THIS .site-identity img {
    max-width: 55px;
    float: left;
    margin-top: -10px;
}
.THIS .containerDiv{
    background-image: url('/DocIn/resource/1620726687000/Homepage_Background1') !important; 
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 2px;
}