.THIS .box {
    height: auto;
    margin-top:20px;
}
.THIS .subheading{
    font-size:18px;
    font-weight: 500;
}
.THIS .custom-padding-doct{
        padding:10px 24px;
    }
.THIS .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
  }
  .THIS .star-ratings-css-top {
    color: rgb(0 35 75);
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .THIS .slds-form-element{
      max-width:80% !important;
  }
.THIS .star-ratings-css-bottom{
        padding: 0;
        display: block;
        z-index: 0;
}
.THIS .containerDiv{
    background-image: url('/DocIn/resource/1620726687000/Homepage_Background1') !important; 
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 2px;
}

.THIS .specialtyInfo{
    font-size: 24px;
    font-weight: 600;
}
.THIS .feesInfo{
    font-size: 20px;
    font-weight: 600;
}
.THIS .profile-photo{
    height:250px;
    max-width:100%;
    border-radius: 130px;
    /* box-shadow: 1px 3px 3px 1px; */
}
.THIS .enquiryButton{
    background-color: lightgrey;
    color: black;
}
.THIS .summary{
    font-size: 17px;
}
.THIS .infoHeading{
    font-size: 22px;
    font-weight: 500;
}
.THIS .mapClass{
    max-width:600px
}
.THIS .title{
    font-size:36px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(0 35 75) !important;
    margin-bottom: 0rem;
    padding-top: 15px;
}
.THIS .info{
    font-size:26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(0 35 75) !important;
    padding-top: 0px;
}
.THIS .appointmentButton{
    position:absolute;
    margin-top:50px;
    border-radius:20px;
    background: rgb(0 35 75);
    color: #fff;
    width: 20%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    text-align: center;
}
.THIS.imgCls{
    position: absolute;
    margin-top: 0px;
    background-size: cover;
    width: 100%;
}
@media only screen and ( max-width:468px ){
    .THIS .mapClass{
    width: 307px !important;
    overflow: hidden;
    }
    .THIS .profile-photo{
    display: block;
    margin: 0 auto;
    }
    .THIS .custom-padding-doct{
        padding:10px 24px;
    }
    .THIS .summary{
        text-align:justify;
    }
}
@media only screen and (max-width:768px){
    .THIS .custom-phone-div{
        margin:0 auto !important;
    }
    .THIS .appointmentButton{
        width:80% !important;
    }
    .THIS .custom-margin-phone{
        padding-top: 20px !important;
    }
    .THIS .imgCls{
        overflow-x:hidden !important;
    }
}