<apex:page showHeader="false" sidebar="false">
    <apex:includeLightning />
    <div id="Con" />
    <script>
    $Lightning.use("c:HostingApplication", function() {
        $Lightning.createComponent(
            "c:CmpRegistrationForm",
            {
                
            },
            "Con",
            function(cmp) {
                console.log("Component is created!");
                console.log(cmp);
            });
    });        
    </script>
</apex:page>