.THIS .title{
    font-size:36px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #1a395d !important;
    margin-bottom: 0rem;
    padding-top: 15px;
}
.THIS .formHeader{
    background-color:#326e9a;
    color:white;
    border-radius: 10px 10px 0 0;
}
.THIS .form{
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    width: 60%;
    border-radius: 10px 10px 10px 10px;
    background-color: #f3f3f4; 
}
.THIS .slds-form-element__label{
font-size: 15px;
}
.THIS .slds-input[readonly]{
    font-size: 15px;
}
.THIS .slds-select{
   height: 40px;
}
.THIS .modalContent{
    text-align:center;
    font-weight:400;
}
.THIS .slds-media__body>:last-child{
    margin-bottom: 25px;
}
.THIS .list-icon{
padding-top: 7px;
padding-right: 7px;
}
.THIS .appointmentButton{
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    /* background: #326e9a; */
    width: 20%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 14px;
    text-align: center;
    background: rgb(0 35 75);
}
.THIS .appointmentButton:hover{
    text-decoration: none !important;
    color: #fff;
}
.THIS.imgCls{
    position: absolute;
    margin-top: 0px;
    background-size: cover;
    background: #d6e5f3!important;
    width: 100%;
    height: 100%;
    /*background-image: url('/DocIn/resource/1620726687000/Homepage_Background1');*/
}
@media only screen and (max-width:468px){
    .THIS img{
        width: 120px;
    }
    .THIS .title{
        text-align: center !important;
        font-size: 25px !important;
    }
    .THIS .form{
        width: 90% !important;
        margin-bottom: 10px !important;
    }
    .THIS .formHeader {
        background-color: #326e9a;
        color: white !important;
        border-radius: 6px 6px 0 0 !important;
        padding:6px 0px !important;
    }
    .THIS .appointmentButton{
        display: block !important;
        width: 100% !important;
        margin-top: 0px !important;
    }
    .THIS.imgCls{
        background:none !important;
        background: #d6e5f3 !important;  
        height: 100% !important;
    }
}